* {
  margin: 0;
  padding: 0;
}

.background {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(BackgroundImages/arnel-hasanovic-MNd-Rka1o0Q-unsplash.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 1rem;
}

.logo {
  margin: 1.5rem;
  margin-left: 1rem;
}

.nav {
  position: fixed;
  width: 100%;
  padding-left: 1.5rem;
  align-items: center;
  justify-content: space-between;
  display: flex;
  background: #003a35;
  transition: all 300ms ease-in-out;
  z-index: 9999;
  margin-top: -1rem;
}

.nav ul li {
  display: inline-block;
  margin: 1.5rem;
  margin-right: 3rem;
  font-size: 25px;
  position: relative;
}

.nav ul li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.nav ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.nav ul li:hover:after {
  width: 100%;
}

.body {
  width: 100%;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
  font-family: sans-serif;
}

.body h1 {
  font-size: 60px;
  margin-top: 4rem;
  font-family: sans-serif;
}

.body p {
  margin: 2rem;
  font-weight: 100;
  line-height: 25px;
}

.buttons ul li {
  display: inline-block;
  font-size: 30px;
  margin: 60 20;
  list-style-type: none;
  text-align: center;
  cursor: pointer;
  font-family: sans-serif;
}

.buttons a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #009688;
  padding: 10px 30px;
  border-radius: 50px;
}

.head2 {
  color: #009688;
}

.aboutme {
  line-height: 1.5rem;
  margin-top: -1.5rem;
}

.aboutme h1 {
  color: #009688;
  font-size: 3rem;
  line-height: 2rem;
  font-family: sans-serif;
}

.aboutme p {
  color: #fff;
  font-size: 25px;
  margin-bottom: 2rem;
  line-height: 1.75rem;
  font-family: sans-serif;
}

.aboutme h2 {
  color: #fff;
  font-size: 26px;
  font-family: sans-serif;
  margin: 4rem;
  text-align: center;
}

.myself {
  max-width: 30%;
  float: right;
  margin-left: 3rem;
}

.wrapIMG {
  margin: 3rem auto;
  width: 70%;
  padding-top: 140px;
}

.myWorks {
  margin: 90px auto;
  text-align: center;
  font-family: sans-serif;
  background-color: white;
}

.myWorks p {
  font-size: 30px;
  margin-bottom: 2%;
}

.column {
  float: left;
  width: 40%;
  padding: 15px 25px;
  margin-left: 3rem;
  box-sizing: border-box;
  border-radius: 25px;
}

.column2 {
  float: right;
  width: 33%;
  padding: 15px 25px;
  margin-right: 3rem;
  box-sizing: border-box;
  border-radius: 25px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.workContainer {
  background-color: #009688;
  box-sizing: border-box;
  margin-bottom: 3rem;
}

.workContainer h2 {
  font-size: 50px;
  margin-top: 2rem;
  font-family: sans-serif;
  padding: 2%;
  text-align: center;
}

.wireframeDisplay {
  background-color: #009688;
}
.blogIntro {
  margin: 90px 40px 40px 50px;
  line-height: 25px;
  text-align: center;
}

.blogIntro h1 {
  color: #009688;
  font-size: 50px;
  font-family: sans-serif;
}

.blogIntro p {
  color: #fff;
  font-size: 25px;
  font-family: sans-serif;
}

.Weeks {
  font-size: 30px;
  margin: 150 100;
  cursor: pointer;
  font-family: sans-serif;
  text-decoration: none;
  text-align: center;
  color: #009688;
}

.Weeks ul li {
  display: inline-block;
  list-style-type: none;

  margin: 0 20px 10px;
  font-size: 50px;
  position: relative;
}

.Weeks ul li a {
  color: #fff;
  text-decoration: none;
}

.Weeks ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.Weeks ul li:hover:after {
  width: 100%;
}

.Week1Blog h1 {
  font-size: 40px;
  margin-top: 70px;
  font-family: sans-serif;
  color: #009688;
  margin: 20px;
  text-align: center;
}

.Week1Blog p {
  font-weight: 100;
  line-height: 25px;
  font-family: sans-serif;
  font-size: 19px;
  font-weight: 400;
}

.parabox {
  padding: 3%;
  background-image: url(BackgroundImages/samantha-gades-BlIhVfXbi9s-unsplash.jpg);
  background-size: cover;
}

.parabox2 {
  padding: 3%;
  background-image: url(BackgroundImages/screen.png);
  background-size: cover;
}

.parabox3 {
  padding: 3%;
  background-image: url(BackgroundImages/mathieu-perrier-44OaWM_ObWk-unsplash.jpg);
  background-size: cover;
}

.websitetutPIC {
  height: 30%;
  width: 30%;
  opacity: 0.85;
  float: right;
  padding: 3rem;
}

.parabox4 {
  padding: 3%;
  background-image: url(BackgroundImages/hutomo-abrianto-X5BWooeO4Cw-unsplash.jpg);
  background-size: cover;
}

.parabox7 {
  padding: 3%;
  background-image: url(BackgroundImages/img.png);
  background-size: cover;
}

.designDoc {
  padding-top: 200px;
  margin: 3rem;
  line-height: 25px;
  text-align: center;
}

.designDoc h1 {
  color: #009688;
  font-size: 50px;
  font-family: sans-serif;
}

.designDoc p {
  color: #fff;
  font-size: 25px;
  font-family: sans-serif;
}

.designSection {
  font-size: 30px;
  margin: 10rem;
  cursor: pointer;
  font-family: sans-serif;
  text-decoration: none;
  text-align: center;
  color: #009688;
}

.designSection ul li {
  display: inline-block;
  list-style-type: none;

  margin: 0 20px 10px;
  font-size: 50px;
  position: relative;
}

.designSection ul li a {
  color: #fff;
  text-decoration: none;
}

.designSection ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.designSection ul li:hover:after {
  width: 100%;
}

.wireFrames h2 {
  font-size: 60px;
  margin-top: 2rem;
  font-family: sans-serif;
  color: #009688;
  text-align: center;
}

.homepageWireframe {
  line-height: 25px;
  text-align: center;
  margin: 5rem;
}

.homepageWireframe p {
  font-size: 25px;
  font-family: sans-serif;
  background-color: #009687a3;
  padding: 2%;
  margin-bottom: 2rem;
}
.homepageWireframe h2 {
  margin: 5rem;
  font-size: 35px;
  font-family: sans-serif;
  text-align: center;
}

.firstIT {
  font-size: 25px;
  font-family: sans-serif;
  margin: 3rem;
}

.firstIT ul li {
  margin-left: 40%;
}

.column3 {
  float: left;
  width: 40%;
  padding: 2rem;
  margin-left: 3rem;
  border-radius: 25px;
}

.column4 {
  float: right;
  width: 43%;
  height: 90%;
  padding: 2rem;
  margin-right: 3rem;
  border-radius: 25px;
  margin-bottom: 3rem;
}

.contacts {
  text-align: center;
  cursor: pointer;
  font-family: sans-serif;
  padding-top: 140px;
}

.contacts h1 {
  font-size: 4rem;
  color: #009688;
}

.contacts h2 {
  color: #fff;
  font-size: 25px;
}

.emails {
  font-size: 30px;
  color: #fff;
  text-align: right;
  margin-right: 4rem;
  margin-top: -2rem;
}

.mycontacts {
  font-size: 30px;
  color: #fff;
  text-align: left;
  margin-left: 4rem;
  margin-top: 7rem;
}

.designdocStyle {
  margin-top: 2rem;
  text-align: center;
  background-image: url(BackgroundImages/jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg);
  background-size: cover;
}

.designdocStyle h2 {
  font-size: 50px;
  font-family: sans-serif;
  padding: 2%;
}

.designdocStyle p {
  font-size: 25px;
  font-family: sans-serif;
  padding: 3%;
  margin-bottom: -2rem;
}

.DDStyle {
  color: #009688;
  font-size: 30px;
  font-family: sans-serif;
  text-align: center;
  margin: 20px 20px -50px 40px;
}

.flowChart {
  width: 70%;
  padding: 2rem;
  margin-left: 12rem;
  box-sizing: border-box;
  border-radius: 20%;
}

.Interactivity h2 {
  font-size: 50px;
  font-family: sans-serif;
  padding: 2%;
  text-align: center;
  color: #009688;
}

.Interactivity p {
  font-size: 25px;
  font-family: sans-serif;
  padding: 2%;
  text-align: center;
  margin-bottom: 0.5rem;
}

.referencing {
  font-size: 25px;
  font-family: sans-serif;
  cursor: pointer;
  text-decoration: none;
}

.referencing ul li {
  text-decoration: none;
  text-align: center;
}
.referencing ul li a {
  text-decoration: none;
  text-align: center;
}

.section {
  width: 100%;
  height: 100vh;
  background: url(BackgroundImages/retrosupply-jLwVAUtLOAQ-unsplash.jpg);
  background-size: cover;
}

.left {
  width: 50%;
  height: 100%;
  float: left;
  padding: 50px;
  box-sizing: border-box;
}

.content {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
  transition: 0.5s;
}

.content h1 {
  margin: 0;
  padding: 0;
  font-size: 50px;
  text-transform: uppercase;
}

.content p {
  margin: 10px 0 0;
  padding: 0;
}

.blogLinks {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
  transition: 0.5s;
  display: flex;
}

.link {
  width: 5rem;
  height: 5rem;
  background: gold;
  margin: 1rem;
}

.blogDates {
  width: 50%;
  height: 100%;
  float: right;
  padding: 50px;
  box-sizing: border-box;
}

.backgrounds {
  background-color: #0a4f48;
}

.blogbody {
  color: #fff;
  padding-top: 150px;
}

.blogbody h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
}

.essays h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
  color: #fff;
  margin-top: -2rem;
}

.essays {
  padding: 5rem;
  padding-top: 200px;
}

.essayBG {
  background-color: #fff;
  border-radius: 3%;
}
.essays p {
  padding: 5rem;
  font-size: 18px;
  font-family: sans-serif;
  border-radius: 3%;
  color: #0a4f48;
  font-weight: 50%;
  margin-bottom: -8rem;
}
.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}

.accordion-item {
  background-color: white;
  color: #0a4f48;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}

.accordion-item-header.active::after {
  content: "\2212";
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 2px solid;
  border-image: linear-gradient(to right, transparent, #0a4f48, transparent) 1;
}

.accordion-item-body-content p {
  margin-bottom: 2rem;
}
.captions {
  font-size: 30px;
}

@media (max-width: 767px) {
  html {
    font-size: 14px;
  }
}
/*.accordion-item-header.active + .accordion-item-body {
  display: block;
} */

@media screen and (max-width: 600px) {
  .aboutme h1 {
    font-size: 25px;
    line-height: 1.5rem;
  }

  .aboutme p {
    font-size: 14px;
    line-height: 1rem;
  }

  .aboutme h2 {
    font-size: 20px;
    line-height: 2rem;
  }

  .nav ul li {
    font-size: 12px;
    margin: 1rem;
  }

  .logo {
    margin: 1.5rem;
    margin-left: -1rem;
  }

  .body h1 {
    font-size: 25px;
    margin-top: 2rem;
  }

  .body p {
    margin: 1rem;
    font-weight: 100;
    line-height: 25px;
  }

  .body h2 {
    font-size: 20px;
  }

  .buttons ul li {
    display: inline-block;
    font-size: 15px;
    margin: 1rem;
    list-style-type: none;
    text-align: center;
    cursor: pointer;
    font-family: sans-serif;
  }

  .myWorks p {
    font-size: 20px;
  }

  .column {
    width: 70%;
    padding: 15px 25px;
    margin-left: 3rem;
    box-sizing: border-box;
    border-radius: 25px;
  }

  .column2 {
    width: 70%;
    padding: 15px 25px;
    margin-right: 5rem;
    box-sizing: border-box;
    border-radius: 25px;
  }

  .essays {
    padding: 1rem;
    padding-top: 150px;
  }
  .essays p {
    background-color: #fff;
    padding: 2rem;
    font-size: 13px;
    font-family: sans-serif;
    border-radius: 0.5%;
    color: #0a4f48;
    font-weight: 50%;
    margin-bottom: 0.5rem;
  }

  .contacts h1 {
    font-size: 2rem;
    color: #009688;
  }

  .contacts h2 {
    color: #fff;
    font-size: 16px;
  }

  .emails {
    font-size: 20px;

    margin-top: -9rem;
  }

  .mycontacts {
    font-size: 20px;
    margin-top: 15rem;
  }

  .designDoc {
    margin: 1rem;
    line-height: 20px;
    text-align: center;
    padding-top: 120px;
  }
  .designDoc h1 {
    font-size: 25px;
  }

  .designDoc p {
    font-size: 16px;
  }

  .designSection {
    font-size: 5px;
    margin: 5rem;
    cursor: pointer;
    font-family: sans-serif;
    text-decoration: none;
    text-align: center;
    color: #009688;
  }

  .designSection ul li {
    display: inline-block;
    list-style-type: none;
    margin: 1rem;
    font-size: 20px;
    position: relative;
  }
  .wireFrames h2 {
    font-size: 25px;
    margin-top: 1rem;
    font-family: sans-serif;
    color: #009688;
    text-align: center;
  }
  .workContainer {
    background-color: #009688;
    box-sizing: border-box;
    margin-bottom: 2rem;
  }

  .workContainer h2 {
    font-size: 25px;
    margin-top: 2rem;
    font-family: sans-serif;
    padding: 2%;
    text-align: center;
  }

  .column3 {
    width: 90%;
    padding: 0.5rem;
    margin-left: 1rem;

    border-radius: 25px;
  }

  .column4 {
    width: 90%;
    padding: 0.5rem;
    margin-right: 1rem;

    border-radius: 25px;
  }
  .captions {
    font-size: 18px;
  }

  .homepageWireframe {
    line-height: 25px;
    text-align: center;
  }

  .homepageWireframe p {
    font-size: 15px;
    font-family: sans-serif;
    background-color: #009687a3;
  }
  .homepageWireframe h2 {
    margin: 1rem;
    font-size: 20px;
    font-family: sans-serif;
  }

  .firstIT {
    font-size: 15px;
    font-family: sans-serif;
    margin: 3rem;
  }

  .firstIT ul li {
    margin-left: 30%;
  }

  .DDStyle {
    font-size: 20px;
  }

  .designdocStyle h2 {
    font-size: 20px;
  }

  .designdocStyle p {
    font-size: 15px;
  }

  .referencing {
    font-size: 15px;
  }
  .flowChart {
    width: 100%;
    padding: 2rem;
    margin: 0.5rem;
  }

  .Interactivity h2 {
    font-size: 25px;
  }

  .Interactivity p {
    font-size: 15px;
  }

  .wrapIMG {
    padding-top: 100px;
  }

  .blogbody {
    padding-top: 100px;
  }
}
